@tailwind base;
@tailwind components;
@tailwind utilities;

.keyboard {
  grid-template-columns: repeat(auto-fit, minmax(75px, 1fr));
}

.keyboard-key.active {
  opacity: 0.3;
  color: white;
}

.keyboard-key.inactive {
  opacity: 0.3;
}

.body-bg {
  background-image: url("/src/resources/landscape-background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #d1c13e;
}

.wood-bg {
  background: center / contain url("/src/resources/882.jpg");
}

.border-bg {
  border-image: url("/src/resources/33421.jpg");
}

.keyboard-key:hover:not(:disabled),
.keyboard-key:focus:not(:disabled) {
  background-color: hsl(200, 100%, 75%);
  background-image: none;
}
