@tailwind base;
@tailwind components;
@tailwind utilities;

.keyboard {
  grid-template-columns: repeat(auto-fit, minmax(75px, 1fr));
}

.keyboard-key.active {
  background-color: hsl(200, 100%, 50%);
  color: white;
}

.keyboard-key.inactive {
  opacity: 0.3;
}

.body-bg {
  background: url("./src/assets/DALL·E\ 2022-12-28\ 13.12.28\ -\ Hand\ drawn\ cartoon\ style\ forest\ landscape\ background\ image\ for\ a\ game.png");
}

.wood-bg {
  background: center / contain url("./src/assets/882.jpg");
}

.border-bg {
  border-image: url("./src/assets/33421.jpg");
}

.keyboard-key:hover:not(:disabled),
.keyboard-key:focus:not(:disabled) {
  background-color: hsl(200, 100%, 75%);
  background-image: none;
}
